.NoticeAddBtn {
  position: relative;
}

.noticeContainer {
  display: flex;
}

.NoticeBookmark {
  flex: 1;
  position: relative;
  order: 1;
  text-align: center;
  flex-grow: 3;
}

.Notice_bookmark_img {
  flex: 1;
  position: relative;
  order: 1;
  text-align: center;
  flex-grow: 3;
}

.NoticeIndex {
  flex: 2;
  position: relative;
  order: 2;
  text-align: center;
  flex-grow: 3;
}

.NoticeTitle {
  margin-left: 20px;
  flex: 3;
  position: relative;
  order: 3;
  flex-grow: 18;
}

.user {
  flex: 4;
  position: relative;
  order: 4;
  text-align: center;
  flex-grow: 3;
}

.startAt {
  flex: 5;
  position: relative;
  order: 5;
  text-align: center;
  flex-grow: 10;
}